html
    include ../partials/head.pug
    body.container-fluid
        main
            div.container.w-75.p-3.border.mt-2
                h2.text-black.bg-light.text-center Listado de Productos
                    div.container-fluid
                        if (products.length !=0)
                            div.table-responsive
                                table.table.w-75.mx-auto.mt-4
                                    tr
                                        th='Nombre'
                                        th='Precio'
                                        th='Imagen'
                                        each product in products
                                            tr
                                                td.align-middle=product.title
                                                td.align-middle=product.price
                                                td
                                                    img(width="70" src=product.thumbnail alt="Imagen Producto")
                        else
                            div.mt-3.text-center
                                h3 No se encontraron productos
                    div.mt-3.text-center
                            a(href="/" type="button" class="btn btn-secondary")='Ingreso de Productos'